---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import Icon from "astro-icon";

// Filter team entries with 'draft: false' & date before current date
// const publishedTeamMembers = await getCollection("team", ({ data }) => {
//   return !data.draft && data.publishDate < new Date();
// });
---

<Layout title="Terms">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Legal Docs</Fragment>
      <Fragment slot="desc">
        Legal terms of agreement between the platform and customers
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 justify-start">
      <div class="group text-left">
        <!-- <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div> -->
        <div
          class="w-14 h-14 rounded-full bg-blue-500 grid items-center justify-center">
          <Icon name="mdi:file" class="w-8 h-8 text-white" />
        </div>

        <div class="mt-4 text-start">
          <h2 class="text-lg text-gray-800">Terms of Service</h2>
          <h3 class="text-sm text-slate-500">
            Read the Terms of Service and License Agreement for Blockit as well
            as our BlockitApp & Developer Agreements.
          </h3>
          <a href="#" class="text-blue-600 flex items-center gap-1 mt-3 text-xs">
            <Icon name="bi:file-earmark-pdf-fill" class="w-4 h-4" />
            License Agreement
          </a>
          <a href="#" class="text-blue-600 flex items-center gap-1 mt-3 text-xs">
            <Icon name="bi:file-earmark-pdf-fill" class="w-4 h-4" />
            Term of Services for Trade
          </a>
        </div>
      </div>
      <div class="group text-left">
        <!-- <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div> -->
        <div
          class="w-14 h-14 rounded-full bg-blue-500 grid items-center justify-center">
          <Icon name="mdi:web" class="w-8 h-8 text-white" />
        </div>

        <div class="mt-4 text-start">
          <h2 class="text-lg text-gray-800">Policies</h2>
          <h3 class="text-sm text-slate-500">
            Find out more about what information we collect at Blockit, how we
            use it, and what control you have over your data.
          </h3>
          <a href="#" class="text-blue-600 flex items-center gap-1 mt-3 text-xs">
            <Icon name="bi:file-earmark-pdf-fill" class="w-4 h-4" />
            Privacy Statement
          </a>
        </div>
      </div>
      <div class="group text-left">
        <!-- <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div> -->
        <div
          class="w-14 h-14 rounded-full bg-blue-500 grid items-center justify-center">
          <Icon name="mdi:security" class="w-8 h-8 text-white" />
        </div>

        <div class="mt-4 text-start">
          <h2 class="text-lg text-gray-800">Security</h2>
          <h3 class="text-sm text-slate-500">
            Learn more about how we keep your work and personal data safe when
            you’re using our services.
          </h3>
          <a href="#" class="text-blue-600 flex items-center gap-1 mt-3 text-xs">
            <Icon name="bi:file-earmark-pdf-fill" class="w-4 h-4" />
            Opti-Growth Trade Security
          </a>
          <a href="#" class="text-blue-600 flex items-center gap-1 mt-3 text-xs">
            <Icon name="bi:file-earmark-pdf-fill" class="w-4 h-4" />
            Responsible Disclosure Policy
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Terms and Conditions</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Please read these terms and conditions carefully. By accessing this site
        and any pages thereof, you agree to be bound by the terms and conditions
        below. If you do not agree to the terms and conditions below, do not
        access this site, or any pages thereof.
      </p>
      <strong>Use of information and materials</strong>
      <p class="text-lg leading-relaxed text-slate-500">
        The information and materials contained in these pages, and the terms,
        conditions, and descriptions that appear, are subject to change.
        Unauthorized use of Opti-Growth Markets' web sites and systems including but not
        limited to unauthorized entry into Opti-Growth Markets' systems, misuse of
        passwords, or misuse of any information posted on a site is strictly
        prohibited. Not all products and services are available in all
        geographic areas. Your eligibility for particular products and services
        is subject to final determination by Opti-Growth Markets and/or its affiliates.
        Copyright and Trademark. Copyright in the pages and in the screens
        displaying the pages, and in the information and material therein and in
        their arrangement, is owned by Opti-Growth Markets unless otherwise indicated.
        Opti-Growth Markets, LTD and the Opti-Growth Markets are trademarks and service marks of
        Opti-Growth Markets and are used and/or registered throughout the world.
        Opti-Growth Markets, Ltd and their subsidiaries also claim rights in certain
        other trademarks and service marks contained in these web pages.
      </p>
      <strong>CUSTOMER TRADING AGREEMENT</strong>
      <p class="text-lg leading-relaxed text-slate-500">
        This Client Trading Agreement("Agreement") is between Opti-Growth Markets Limited
        and its affiliates, operator of the brand name Opti-Growth Markets (hereinafter:
        "Opti-Growth Markets") and any end user (“Client”) (each a "Party" and together,
        the "Parties") and applies to any dealings between them. This Agreement
        incorporates by reference any additional appendices, including but
        limited to the Risk Disclosure and Declaration of Beneficial Ownership.
      </p>
      <strong class="text-italics italic"
        >Generally, you will be required to upgrade your live trading account
        from Dynamic to a Classical Account before your profit can be pulled out
        of your Live Trading Account!</strong
      >

      <ol>
        <li>
          General Services Rule: Client may enter into transactions with
          Opti-Growth Markets, in connection with spot and forward foreign currency
          contracts, foreign currencies swap transactions, and such other
          transactions as Opti-Growth Markets may from time to time make available (the
          “Services”).
        </li>
        <li>
          Margin: The Services may involve margined transactions, requiring
          Client to deposit cash to secure its obligations under this Agreement
          (“Security Margin”).
        </li>
        <li>
          Direct Relationship: Unless otherwise agreed in writing, Opti-Growth Markets
          and Client each enter into this Agreement as principal and Opti-Growth Markets
          will not accept an undisclosed/unapproved principal acting through
          Client. With regard to such a principal, Client agrees to provide
          Opti-Growth Markets with its identity, personal information, and other
          information that Opti-Growth Markets may seek.
        </li>
        <li>
          No Recommendation or Solicitation: Opti-Growth Markets does not recommend,
          solicit, offer, advise, suggest, concur on the merits of, or otherwise
          provide any opinion whether to buy or sell any currency or to engage
          in any other transaction. Neither the availability of the Services nor
          any communication by anyone associated with Opti-Growth Markets should be
          construed in this manner.
        </li>
        <li>
          Errors: Quotations provided by Opti-Growth Markets, via third parties or
          otherwise, may be incorrect for any reason. Following a transaction
          involving such quotation errors, Opti-Growth Markets in its discretion reserves
          the right to correct the affected account balance. Any dispute arising
          from such errors or corrections will be resolved on the basis of the
          fair market value of the relevant currency at the time of the error.
        </li>
        <li>
          Market Fluctuations: Client acknowledges that the market for currency
          is subject to sudden changes due news events and other announcements,
          acts of war or terrorism, power failures, strikes or civil commotions,
          business trends, political developments, fluctuations in other
          financial and commodity markets, and other factors beyond Opti-Growth Markets'
          control. Opti-Growth Markets may determine in its sole discretion that an
          emergency or exceptional market condition exists, in which case it
          reserves the right to impose trading limits or special terms, cancel
          or suspend any transaction, or close an account.
        </li>
        <li>
          Availability: This site is not intended for distribution to, or use
          by, any person or entity in any jurisdiction or country where such
          distribution or use would be contrary to local law or regulation.
        </li>
        <li>
          Trading Indices: The Client hereby acknowledge that he is aware that
          in the case of Contract for Difference (CFD) trade, Opti-Growth Markets shall
          open its trading within 5 minutes of the opening of the relevant
          market. Opti-Growth Markets reserves the right not to accept any trade of such
          instrument during the first 5 minutes of the trading day. Opti-Growth Markets
          reserves its right to cancel any trade, in its own discretion, of such
          instrument made during the first 5 minutes of the trading day.
        </li>
        <li>
          Opti-Growth Markets shall execute the Client’s withdrawal within 96 working
          hours once all the above conditions are met and upon approval of such
          by the Opti-Growth Markets Back Office Department. The Client acknowledges that
          fund transfer times may vary according to its account type, issuing
          bank, intermediary bank, receiving bank, destination country or any
          other 3rd party involved in the transfer of funds. Opti-Growth Markets shall
          not be liable for any fund transfer delay caused by such 3rd party.
        </li>
        <li>
          Complaints: - Based on an operational agreement with Opti-Growth Markets Ltd.,
          we are responsible for complaints where End-Users have deposited money
          through our Platform. Our customer service is always available for any
          request, complaint or inquiry you may have at :
          support@Opti-Growth Markets.com. We have put in place formal procedures for
          handling complaints fairly and promptly, and each such filed inquiry
          shall be thoroughly investigated and addressed in a fair manner.
        </li>
      </ol>

      <i
        >All trading involves risk. CFDs are leveraged products and can result
        in losses that exceed your initial deposit. Please ensure you fully
        understand the risk involved and take care to manage your exposure.</i
      >
      <hr class="my-10" />

      <div class="">
        <details
          class="border-2 mb-2 p-4 [&_svg]:open:-rotate-180 [&_h2]:open:text-blue-500 [&_summary]:open:mb-5"
          open>
          <summary
            class="flex cursor-pointer list-none items-center justify-between gap-4">
            <h2 class="text-lg">Trading Guidelines</h2>
            <svg
              class="rotate-0 transform text-blue-700 transition-all duration-300"
              fill="none"
              height="20"
              width="20"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </summary>
          <ul slot="body" class="list-disc ml-6">
            <li>Follow the Company Trading Guides</li>
            <li>
              Always contact your account manager if you are having issues.
            </li>
            <li>
              Never give out your account login details to third party usage.
            </li>
          </ul>
        </details>
        <details
          class="border-2 mb-2 p-4 [&_svg]:open:-rotate-180 [&_h2]:open:text-blue-500 [&_summary]:open:mb-5">
          <summary
            class="flex cursor-pointer list-none items-center justify-between gap-4">
            <h2 class="text-lg">Privacy Policy</h2>
            <svg
              class="rotate-0 transform text-blue-700 transition-all duration-300"
              fill="none"
              height="20"
              width="20"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </summary>
          <h1 class="font-bold text-3xl mb-2">Privace Policy</h1>
          <p class="mb-2">
            We accept that customer trust is the establishment of our business.
            That is the reason we are straightforward about how we gather and
            utilize the data you give us, and we need to feature the decisions
            you have for getting to and controlling your data. If it's not too
            much trouble see beneath to figure out how our different business
            lines utilize your data to give you the best customer experience. As
            usual, you can get in touch with us at support@Opti-Growth Markets.com with
            any inquiries or criticism.
          </p>
          <strong class="mb-2">Data We Collect from You</strong>
          <p class="mb-2">
            At the point when you access our platform to do business with
            us—regardless of whether on our sites, on our applications, at
            occasions TradesAssets joins in, sorts out or supports, or in our
            branches or workplaces—we may gather certain individual data about
            you. For instance: When you apply for our items, we may gather data,
            for example, your name, address, standardized savings number, date
            of birth, pay, and work data. When you visit our sites or utilize
            our portable applications, we may gather data, for example, your PC
            IP address, your gadget identifier, your area, and what pages you
            view or visit. When you visit our branches or workplaces or go to
            occasions that we support or arrange, we may gather contact data,
            for example, your email address, your telephone number or your
            physical location. We may likewise gather sound or visual data about
            you because of safety efforts we use in our offices.
          </p>
          <strong>How we Use your Data</strong>
          <p class="mb-2">
            We utilize your own data to help items and administrations that you
            use or that we offer to you. For instance, in the event that you
            have accounts with us: We may utilize data, for example, your record
            balance, trading action, advance sum, and transaction history to
            show it to you on the web or through our mobile applications. We may
            use data, for example, voiceprints for account verification and for
            use with misrepresentation counteraction innovations. We may utilize
            your contact data to advertise our items and administrations to you.
          </p>
        </details>
        <details
          class="border-2 mb-2 p-4 [&_svg]:open:-rotate-180 [&_h2]:open:text-blue-500 [&_summary]:open:mb-5">
          <summary
            class="flex cursor-pointer list-none items-center justify-between gap-4">
            <h2 class="text-lg">Company Trademarks</h2>
            <svg
              class="rotate-0 transform text-blue-700 transition-all duration-300"
              fill="none"
              height="20"
              width="20"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </summary>
          <p class="mb-2">
            Our Company trademarks include the following list. The absence of
            any Company trademark, product name, service name, or any other name
            from this list does not belong to Opti-Growth Markets Company intellectual
            property rights.
          </p>
          <p>
            The Company logo and name is ® Registered in The United States and
            UK with registrations over the world. The ® Registered mark shall
            only be used in The United States and UK until registrations are
            completed elsewhere.
          </p>
        </details>
      </div>
    </div>
  </Container>
</Layout>

<script>
  // [...document.querySelectorAll("details")].forEach((detail) => {

  //   const summary = detail.querySelectorAll('summary')[0]
  //   summary.addEventListener('click', (e) => {
  //     e.stopPropagation();
  //     detail.toggleAttribute('open');
  //   })
  // })
</script>
