---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { SEO } from "astro-seo";
import "../utils/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? `${title} | Astroship`
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Opt-Growth - Trade Crypto and Forex markets with ease, and flexible membership starters"
      canonical={canonicalURL}
      twitter={{
        creator: "@fullsnack_mimi",
        site: "https://hotmimi.vercel.app",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Opt-Growth - Trade Crypto and Forex markets with ease`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Opt-Growth Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */

      img {
        content-visibility: auto;
      }
    </style>

    <!-- Tidio chat code -->
    <script src="//code.tidio.co/iq2qipotps6urp8h4c4yzwhytrpdoxia.js" async
    ></script>
  </body>
</html>
